{% extends "layouts/main.html" %}

{% block title %} 
    Data Analytics
{% endblock %}

{% block content %}
    <div class="card shadow-lg border shadow-lg border-light rounded-pill col-5 px-4 py-3">
        <div class="card-body text-center px-3 py-4">

            <h3 class="card-title" style="margin-bottom:-0.8rem !important">Data Analytics</h5>
            <hr>
            <p class="card-text mb-0">- Selecciona una Opcion -</p>

            <div class="mt-4">
                <a href="/roomies" class="btn btn-secondary mx-1">Roomies Matcher</a>
                <a href="/accidents" class="btn btn-harsi mx-1">Accidents Graph</a>
            </div>

        </div>
    </div>
{% endblock %}